.key-text-list {
  display: flex;
}

.key-text-item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.key-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  margin-bottom: 10px;

  font-weight: 700;
  /*font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-color;
}
.features-text {
  /*font-size: 14px;*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.antenna {
  background-image: url(../images/svg/antenna.svg);
}
.clock {
  background-image: url(../images/svg/clock.svg);
}
.diagram {
  background-image: url(../images/svg/diagram.svg);
}
.astronaut {
  background-image: url(../images/svg/astronaut.svg);
}
