/*----Модальное окно-----*/

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;

  text-align: left;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--main-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
