/*----Модальное окно-----*/

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;

  text-align: left;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--main-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.folow-input:-webkit-autofill,
.folow-input:-webkit-autofill:hover,
.folow-input:-webkit-autofill:focus,
.folow-input:-webkit-autofill:active,
.modal-input:-webkit-autofill,
.modal-input:-webkit-autofill:hover,
.modal-input:-webkit-autofill:focus,
.modal-input:-webkit-autofill:active,
.modal-comment:-webkit-autofill,
.modal-comment:-webkit-autofill:hover,
.modal-comment:-webkit-autofill:focus,
.modal-comment:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.modal-comment {
  padding: 12px 16px;

  resize: none;
  width: 448px;
  height: 138px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-comment::placeholder {
  /*font-size: 14px;*/
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
