.filter-button {
  padding: 6px 22px;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter .hero-button.current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
